.header {
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
  &-logotype {
    position: relative;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    .logo {
      padding-top: 0.5rem;
      padding-left: 2rem;
      text-transform: uppercase;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      &-text {
        font-family: @fontTitle;
        font-size: 2rem;
        color: @titleText;
      }
      &-bold {
        color: @bold;
      }
    }
    .social-icon {
      padding-top: 1rem;
      margin: 0 1rem;
      img {
        width: 16px;
        height: 16px;
        margin: 0 0.1rem;
        &:hover {
          background: @bold;
        }
      }
    }
  }
  &-navbar {
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.625rem;
    &_items {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    &_item {
      padding:  0.3rem 1.5rem 0.3rem 1.5rem ;
      text-align: center;
      margin: 0.4rem;
      font-weight: bold;
      border: 2px solid white;
      border-radius: 2px;
      &:hover {
        background-color: @titleText;
        border: 2px solid #045279;
        border-radius: 2px;
        & a {
          color: white;
        }
      }
      &:nth-child(1) {
              background-color: #076e9f;
        border: 2px solid #045279;
        border-radius: 2px;
        & a {
          color: white;
        }
      }
      & a {
        color: #707070;
      }
    }
  }
}